@use 'variable' as *;
@use 'mixin' as *;
@use 'svg' as *;

.wrap {
	@include setCont(100%, 100dvh, block, relative);
	@include bg("bg.jpg", no-repeat, 45% 50%, auto 100%, #121212);
	min-height: 790px; // 화면 전체 높이
	@include mobile{
		min-width: 320px;
		min-height: 600px; // 화면 전체 높이
        background-position: 44% 93%;
        background-size: auto 140%;
	}
	h1{
		@include blind;
	}
	.main{
		@include setCont(100%, 83%, block, absolute);
		@include bg("img_tarot.png", no-repeat, 50% 50%, auto 100%);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0 auto;
		z-index: 2;
		@include mobile{
			background-size: auto 80%;
			background-position: 50% 45%;
		}
		.f_wrap{
			@include setCont(500px, 300px, block, absolute, rgba(0,0,0,0.4));
			margin: 0 auto;
			padding: 40px 90px;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			border-radius: 10px;
			box-shadow: 6px 7px 6px rgba(68, 67, 45, 0.16), 0 3px 6px rgba(89,77,66,0.23);
			border: 1px solid #222;
			@include mobile{
				@include setCont(94%, 300px);
				max-width: 450px;
				min-width: 300px;
				height: auto;
				padding: 35px calcPercent(15);
				bottom: 5%;
			}
			.bx_radio{
				@include setCont(250px, auto, flex, relative, #483014);
				margin: 0 auto;
				justify-content: space-between;
				align-items: center;
				text-align: center;
				border-radius: 25px;
				overflow: hidden;
				opacity: 0.9;
				@include mobile{
					width: 100%;
				}
				&::before{
					@include setCont(50%, 100%, block, absolute, $point);
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					z-index: 3;
					transition: all 300ms;
				}
				&.on_r2{
					&::before{
						left: 50%;
					}
				}
				.radio{
					display: none;
					&:checked+label{
						color: #59442c;
						font-weight: $bold;
						&:hover{
							opacity: 1;
						}
					}
				}
				.unit{
					@include setCont(50%, 100%, block);

				}
				.label{
					@include setCont(100%, 100%, flex, relative);
					@include font(14, normal, #ddd, $medi);
					padding: 12px 15px;
					align-items: center;
					justify-content: center;
					z-index: 5;
						transition: color 300ms;
					cursor: pointer;
					&:hover{
					opacity: 0.6;
					}
				}
			}
			.bx_ipt{
				@include setCont(100%, 45px);
				margin: 30px auto;
				.ipt{
					@include setCont(100%, 100%);
					@include font(15, 45, #eee, $medi);
					box-shadow: 2px 2px 6px rgba(89,77,66,0.23);
					letter-spacing: 5px;
					background: rgba(0,0,0,0.8);
					padding: 0 25px;
					letter-spacing: 5px;
					border-radius: 10px;
					border: 3px solid #4a3419;
					text-align: center;
				}
			}
			.bx_btn{
				@include setCont(100%, auto, block);
			}
			.btn{
				@include setCont(100%, auto, block, relative, rgba(228, 202, 101, 0.9));
				@include font(15, normal, rgba(36, 36, 36, 0.9), $medi);
				padding: 15px 10px;
				border-radius: 5px;
				transition: all 300ms;
				@include mobile{
					@include font(13);
				}
			&:hover{
				background-color: rgba(150, 128, 42, 0.9);
				font-weight: 400;
			}
			}
			.c_year{
				.bx_ipt{
					display: flex;
					justify-content: space-between;
					.ipt{
					width: calc(50% - 3px);
					letter-spacing: 2px;
					padding: 0 20px;
					text-align: center;
					}
				}
			}
		}
	}
	.result{
		@include setCont(100%, 100%, flex, absolute);
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		justify-content: center;
		align-items: center;
		.bg{
			@include setCont(100%, 100%, block, absolute, rgba(0,0,0,0.8));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
		}
		.r_wrap{
			@include setCont(90%, 80%, block, absolute, #fff);
			max-width: 700px;
			overflow: hidden;
			border-radius: 10px;
			overflow: hidden;
			z-index: 11;
			word-break: keep-all;
			@include mobile{
				@include setCont(100%, 100%);
				border-radius: 0;
			}
			.r_top{
				@include setCont(100%, 50px, flex, relative ,$point);
				padding: 0 20px 0 30px;
				justify-content: space-between;
				align-items: center;
				h2{
					@include font(18, 25, #59442c, $bold);
					padding-right: 30px;
					@include mobile{
						@include font(17, 24);
					}
				}
				.btn_close{
					@include setCont(30px, 30px, block, relative);
					@include blind;
					transition: all 300ms;
					&::before, &::after{
						@include setCont(2px, 25px, block, absolute, #59442c);
						top: 2px;
						left: 50%;
						transform: translateX(-50%);
					}
					&::before{
						transform: rotate(45deg);
					}
					&::after{
						transform: rotate(135deg);
					}
				}
			}
			.r_cont{
				@include setCont(100%, calc(100% - 50px), block, relative);
				overflow: auto;
				padding: 0 50px 0;
				h3{
					@include font(17, 25, #121212, $bold);
					width: 100%;
					padding-top: 25px;
					@include mobile{
						@include font(16, 24);
					}
					.tit{
						display: inline-block;
					}
				}
				@include mobile{
					padding: 0 calcPercent(30);
				}
			}
		}
		.col2{
			@include setCont(100%, auto, flex, relative);
			justify-content: space-between;
			padding: 25px 0 0;
			@include mobile{
				display: block;
				padding: 25px 0 0;
			}
			.left{
				flex-shrink: 0;
				.bx_img{
					@include setCont(200px, 340px);
					background-size: 103% !important;
					overflow: hidden;
					border-radius: 5px;
					box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
					@include mobile{
						margin: 0 auto;
					}
					.img{
						width: 100%;
					}
				}
			}
			.right{
				padding: 7px 0 0 30px;
				@include mobile{
					padding: 40px 0 50px;
				}
			}
		}
		dl{
		@include setCont(100%, auto, flex);
		align-items: top;
		justify-content: start;
		margin-top: 15px;
		dt,dd{
			display: inline-block;
				@include font(15, 22);
		}
		dt{
			min-width: 65px;
			font-weight: $bold;
			flex-shrink: 0;
			padding-right: 10px;
		}
		dd{
			margin-left: 4px;
			li{
				display: inline-block;
				&::after{
					content: ", ";
					display: inline-block;
					margin-right: 4px;
				}
				&:last-child{
					&::after{
					content: "";
					}
				}
				}
			}
			.txt_bg{
				@include font(12, normal, #fff, $medi);
				padding: 4px 6px 5px;
				border-radius: 5px;
				&.bad{
					background: #f35757;
				}
				&.good{
					background: #469c84;
				}
				&.normal{
					background: #aaa;
				}
			}
		}
	}
}
.pc{
	@include mobile{
		display: none;
	}
}
.mobile{
	display: none;
	@include mobile{
		display: block;
	}
}